GEMINI_API_KEY=GEMINIAPIKEY
GROQ_API_KEY=GROQAPIKEY   
GEMINI_EMBEDDING=gemini-embedding-2-preview
GEMINI_FLASH=gemini-2.5-flash
GROQ_LLAMA=llama-3.3-70b-versatile

MONGODB_URI=mongodb+srv://user:password@host/
REDIS_URL=redis
POSTGRE_URI=postgres://user:passwordc@host:port/database?sslmode=require

HOST=api_host
PORT=host_port

PDF_PATH=C:/PDF/PATH/FAQ_eko_v1.1.pdf